<form action="/output" method="post">
    <h1>Student's Information</h1>
    Name: <input type="text" name="ten" >
    <br><br>
    Age: <input type="number" name="tuoi" >
    <br><br>
    Address: <input type="text" name="diachi" >
    <br><br>
    Gender: 
    <input type="radio" name="gioitinh" value="Nam" > Male
    <input type="radio" name="gioitinh" value="Nu"> Female
    <br><br>
    Email: <input type="email" name="email" >
    <br><br>
    DOB: <input type="date" name="ngaysinh" >
        <br><br>
    Major: <select name="chuyennganh" id="">
        <option value="IT">IT</option>
        <option value="Bussiness">Bussiness</option>
        <option value="Graphic Design">Graphic Design</option>
    </select>
    <input type="submit" value="Add">
</form>
