<div class="container text-center bg-light card">
<form class = "" action="/check" method="post">
<div class="form-group mt-1 mb-1">
    <h1 class="text text-primary">User Login</h1>
    <label for="">Username:</lable> 
    <input type="text"  class="form-control"name="username">
</div>

<div class="form-group mt-1 mb-1">
    <label for="">Password:</lable> 
    <input type="password" class="form-control" name="password" id="">
    
</div>
<div class="form-group mt-1 mb-1"></div>

    <input class="btn btn-primary"type="submit" value="Login">
</div>
</form>
</div>